<div *ngIf="selectedPlace;then placeSelected else noPlaceSelected"></div>

<ng-template #placeSelected>

    <h2 id="placeSelectedLabel">
        {{selectedPlace?.name}} (x:{{selectedPlace?.x}} y:{{selectedPlace?.y}})
    </h2>
    <ul>
        <li *ngFor="let image of selectedPlace?.images">
            <app-image [image]="image"></app-image>
        </li>
    </ul>
</ng-template>
<ng-template #noPlaceSelected>
    <h1 id="noPlaceSelectedLabel">
        Click on any place on the map!
    </h1>
</ng-template>