<h3 *ngIf="userMessage" @userMessageAnimation [ngClass]="{'alert-success': userMessage.messageType===MessageType.Success, 'alert-danger': userMessage.messageType===MessageType.Error}"
  [textContent]="userMessage.message"></h3>

<div *ngIf="selectedPlace;then placeSelected else noPlaceSelected"></div>

<ng-template #placeSelected>
  <div *ngIf="selectedPlace?.isDefined;then placeDefined else placeUndefinedYet"></div>
</ng-template>

<ng-template #noPlaceSelected>
  <h1 id="noPlaceSelectedLabel">
    Click on any place on the map!
  </h1>
</ng-template>

<ng-template #placeUndefinedYet>
  <h2>This place has not been visited yet!</h2>
  <form #newPlaceForm="ngForm" (ngSubmit)="savePlace()">
    {{diagnostic}}
    <input id="newPlaceName" [(ngModel)]="newPlaceName" name="name">
    <input id="saveNewPlace" type="submit" value="Name this place!">
  </form>
</ng-template>

<ng-template #placeDefined>
  <h2 id="placeSelectedLabel">
    {{selectedPlace?.name}} (x:{{selectedPlace?.x}} y:{{selectedPlace?.y}})
  </h2>

  <label for="imageChooser" id="imageChooserImage">
    <figure>
      <svg id="imageChooserIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="51" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6        1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
      </svg>
    </figure>
    <span>Choose an image&hellip;</span>
  </label>
  <input id="imageChooser" type="file" (change)="onFileChanged($event)" accept=".jpg, .jpeg, .png, .gif, .bmp" multiple>

  <section class="image-grid">
    <div class="image__cell" [ngClass]="{'is-expanded': expandedIndex==i, 'is-collapsed': expandedIndex!=i}" *ngFor="let image of selectedPlace?.images; let i = index">
      <div class="image--basic">
        <a (click)="expandIndex(i)">
          <app-image id="expand-jump-{{i}}" [class]="'basic__img'" [image]="image"></app-image>
        </a>
      </div>
      <div class="arrow--up"> </div>
      <div class="image--expand">
        <a class="expand__close" (click)="collapseIndex()"></a>
        <app-image [class]="'image--large'" [image]="image"></app-image>
      </div>
    </div>
  </section>



</ng-template>
