#WorldMap {
    cursor: pointer
}

app-place{
    z-index:1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5)
}
